#frank-ruhl-libre-regular-iam{
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:rgb(0, 21, 67);
    top: 14%; 
    left: 3.2%; 
    font-size: 80px;
    font-weight: 400; 
    position: absolute; 
    display: inline-flex; z-index: 2;
}

@media (max-width: 480px) {
    #typewriter {
        font-size: 45px;
        max-width: 20%;
        left: 30px;
        top: 25%;
    }

    .inner_container{
        background-color: rgb(75, 140, 140);
    }

    .about-me-content1{
        font-size: 13px;
        left: 30px;
        width: 40%;
    }
    
    .about-me-content2{
        font-size: 13px;
        left: 30px;
        width: 40%;
    }

    #frank-ruhl-libre-regular-iam{
        font-size: 13px;
        left: 30px;
    }
}