#frank-ruhl-libre-regular-iam{
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:rgb(0, 21, 67);
    top: 14%; 
    left: 3.2%; 
    font-size: 80px;
    font-weight: 400; 
    position: absolute; 
    display: inline-flex; z-index: 2;
}

.about-me-back-filler{
    display: none;
}


.about-me-content1{
    top: 38%; z-index: 2
}

.about-me-content2{
    top: 58%; z-index: 2
}

@media (max-width: 1100px) {
    #typewriter {
        font-size: 70px;
        max-width: 80%;
        top: 23%;
    }

    #frank-ruhl-libre-regular-iam{
        font-size: 70px;
    }

    .about-me-content1{
        width: 62%;
        top: 38%;
        font-size: 25px;
    }
    
    .about-me-content2{
        width: 62%;
        top: 61%;
        font-size: 25px;
    }

    #regular-back-filler{
        display: none;
    }

    .about-me-back-filler{
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; min-height: 80%;
        top: 10%; right: 30%;
        position: absolute;
        z-index : 1;
    }
}

@media (max-width: 1000px) {
    #typewriter {
        font-size: 65px;
        max-width: 60%;
        top: 23%;
    }

    #frank-ruhl-libre-regular-iam{
        font-size: 65px;
    }

    .about-me-content1{
        width: 55%;
        top: 43%;
        font-size: 20px;
    }
    
    .about-me-content2{
        width: 55%;
        top: 61%;
        font-size: 20px;
    }

    #regular-back-filler{
        display: none;
    }

    .about-me-back-filler{
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; min-height: 80%;
        top: 10%; right: 30%;
        position: absolute;
        z-index : 1;
    }

}

@media (max-width: 900px) {
    #typewriter {
        font-size: 60px;
        max-width: 50%;
        top: 24%;
    }

    #frank-ruhl-libre-regular-iam {
        font-size: 60px;
        top: 17%;
     
    }

    .about-me-content1 {
        width: 50%;
        top: 45%;
        font-size: 19px;
    }

    .about-me-content2 {
        width: 50%;
        top: 63%;
        font-size: 19px;
    }

    #regular-back-filler {
        display: none;
    }

    .about-me-back-filler {
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; 
        min-height: 80%;
        top: 10%; 
        right: 35%;
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 800px) {
    #typewriter {
        font-size: 55px;
        max-width: 45%;
        top: 25%;
    }

    #frank-ruhl-libre-regular-iam {
        font-size: 55px;
        top: 18%;
    }

    .about-me-content1 {
        width: 43%;
        top: 43%;
        font-size: 18px;
    }

    .about-me-content2 {
        width: 43%;
        top: 60%;
        font-size: 18px;
    }

    #regular-back-filler {
        display: none;
    }

    .about-me-back-filler {
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; 
        min-height: 80%;
        top: 10%; 
        right: 40%;
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 700px) {
    #typewriter {
        font-size: 50px;
        max-width: 40%;
        top: 26%;
    }

    #frank-ruhl-libre-regular-iam {
        font-size: 50px;
        top: 20%;
    }

    .about-me-content1 {
        width: 33%;
        top: 40%;
        font-size: 17px;
    }

    .about-me-content2 {
        width: 33%;
        top: 59%;
        font-size: 17px;
    }

    #regular-back-filler {
        display: none;
    }

    .about-me-back-filler {
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; 
        min-height: 80%;
        top: 10%; 
        right: 45%;
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 550px) {
    #typewriter {
        font-size: 45px;
        max-width: 28%;
        top: 27%;
    }

    #frank-ruhl-libre-regular-iam {
        font-size: 45px;
        top: 21%;
    }

    .about-me-content1 {
        width: 25%;
        top: 40%;
        font-size: 16px;
    }

    .about-me-content2 {
        width: 25%;
        top: 62%;
        font-size: 16px;
    }

    #regular-back-filler {
        display: none;
    }

    .about-me-back-filler {
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 30%; 
        min-height: 80%;
        top: 10%; 
        right: 50%;
        position: absolute;
        z-index: 1;
    }
}


@media (max-width: 480px) {
    #typewriter {
        font-size: 45px;
        max-width: 20%;
        left: 30px;
        top: 19%;
    }

    .about-me-content1{
        font-size: 13px;
        left: 30px;
        width: 20%;
        top: 38%;
    }
    
    .about-me-content2{
        font-size: 13px;
        left: 30px;
        width: 20%;
        top: 60%;
    }

    #frank-ruhl-libre-regular-iam{
        font-size: 45px;
        left: 30px;
        top: -1%;
    }

    .inner_container{
        background-color: rgb(94, 165, 125);
    }
    
    .about-me-back-filler{
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 35vh; min-height: 36vh;
        top: 20%; left: 30px;
        position: absolute;
        z-index : 1;
    }
}