@media (max-height: 750px) {
    #face2 {
        right: calc(15% + 1%);
    }
    #left-eyebrow{
        right: calc(23% + 1%);
    }

    #right-eyebrow{
        right: calc(15.5% + 1%);
    }
    .mouth-container{
        left: calc(17% - 1%);
    }
}

@media (max-height: 720px) {
    #face2 {
        right: calc(15% + 2%);
    }
    #left-eyebrow{
        right: calc(23% + 1.5%);
    }

    #right-eyebrow{
        right: calc(15.5% + 2%);
    }
    .mouth-container{
        left: calc(17% - 1.5%);
    }
}

@media (max-height: 680px) {
    #face2 {
        right: calc(15% + 3%);
    }
    #left-eyebrow{
        right: calc(23% + 2%);
    }

    #right-eyebrow{
        right: calc(15.5% + 3%);
    }
    .mouth-container{
        left: calc(17% - 2%);
    }
}

@media (max-height: 640px) {
    #face2 {
        right: calc(15% + 4%);
    }
    #left-eyebrow{
        right: calc(23% + 2.5%);
    }

    #right-eyebrow{
        right: calc(15.5% + 4%);
    }
    .mouth-container{
        left: calc(17% - 2.5%);
    }
}






/* --------- */

@media (max-width: 1400px) {
    #face2 {
        right: calc(15% - 1%);
    }

    #left-eyebrow{
        right: calc(23% - 1%);
    }

    #right-eyebrow{
        right: calc(15.5% - 1%);
    }
    .mouth-container{
        left: calc(17% + 0.5%);
    }
}

@media (max-width: 1340px) {
    #face2 {
        right: calc(15% - 2%);
    }

    #left-eyebrow{
        right: calc(23% - 2%);
    }

    #right-eyebrow{
        right: calc(15.5% - 2%);
    }
    .mouth-container{
        left: calc(17% + 1%);
    }
}

@media (max-width: 1280px) {
    #face2 {
        right: calc(15% - 3%);
    }

    #left-eyebrow{
        right: calc(23% - 3%);
    }

    #right-eyebrow{
        right: calc(15.5% - 3%);
    }
    .mouth-container{
        left: calc(17% + 1.5%);
    }
}

@media (max-width: 1220px) {
    #face2 {
        right: calc(15% - 4%);
    }

    #left-eyebrow{
        right: calc(23% - 4%);
    }

    #right-eyebrow{
        right: calc(15.5% - 4%);
    }
    .mouth-container{
        left: calc(17% + 2%);
    }
}

@media (max-width: 1190px) {
    #face2 {
        right: calc(15% - 4.5%);
    }

    #left-eyebrow{
        right: calc(23% - 4.5%);
    }

    #right-eyebrow{
        right: calc(15.5% - 4.5%);
    }
    .mouth-container{
        left: calc(17% + 2.5%);
    }
}


@media (max-width: 480px) {

    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }
    .portrait2 svg{
        width: 35vh;
        height: 35vh;
    }

    .portrait2{
        top: 13%;
        left: -40%;
        display: block;
        animation: fadeIn 1s ease-out forwards;
        animation-delay: 2.5s;
        opacity: 0;
    }

    .name-is{
        font-size: 45px;
        top:450px;
        left: 30px;
    }

    .hi-my{
        font-size: 45px;
        top: 400px;
        left: 30px;
    }

    .passionate{
        font-size: 13px;
    }

    #animation-hard-up{
        top: 520px;
        width: 40%;
        left: 30px;
    }

    .inner_container{
        background-color: rgb(134, 183, 97);
    }

    #intro-page::before {
        width: 80vw; /* Adjust the width to make it shorter */
        height: 40vh; /* You can also adjust the height accordingly */
        top: 11.5%;
        left: 10vw; /* Adjust the positioning if needed */
    }

    .scroll-down{
        left: 80%;
        bottom: 16%;
    }

    .please-scroll{
        font-size: 8px;
    }

    .please-scroll-line{
        max-height: 7%;
        max-width: 0.15%;
        bottom: 22.5%;
        left: 81%;
    }
}

