#section2-python{
    position:absolute;
    margin: 60px;
    top:6%; left:0;
    font-weight: 500;

    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgb(0, 21, 67);
}

#section2-happymeter-svg{
    position:absolute; 
    width: 15%; 
    left:17%; 
    top: 16%;
}

#section2-wordle-svg{
    width: 20%; 
    top:43%; 
    left:15% ;
    position: absolute;
}

#section2-hangman-svg{
    width:15%;
    position: absolute; 
    left: 17%; 
    bottom:7%;
}
#section2-CHP, #section2-WSP, #section2-HMG {
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 21, 67);
    line-height: 1.6;
    width: 100%;
    left: 39%;
    text-align: left;
    position: absolute;
    font-size: 15px;
    padding: 20px;
    z-index: 2;
}

#section2-line-break1, #section2-line-break2{
    background-color: white;
    position: absolute;
    min-height: 0.1%; ;
    min-width:90%; 
    text-align: center;
    margin:auto ;
    right:5%; 
    z-index: 2 
}

#section2-line-break1{
    top:38%; 
}

#section2-line-break2{
    top: 66.5%
}
/* Individual top positions */
#section2-CHP { top: 15.5%; }
#section2-WSP { top: 44.5%; }
#section2-HMG { top: 71.5%; }

#section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 21, 67);
    position: absolute;
    width: 55%;
    text-align: left;
    padding: 20px;
    left: 39%;
    line-height: 2;
    font-size: 18px;
    z-index: 2;
}

/* Individual top positions */
#section2-CHP-content { top: 20.5%; }
#section2-WSP-content { top: 49.5%; }
#section2-HMG-content { top: 76.5%; }

#section2-line-break1-mobile, #section2-line-break2-mobile{
    display: block;
    background-color: white;
    position: absolute;
    min-height: 0.1%; ;
    left: 30px;
    top: 50%;
}

@media (max-width: 1430px){


    #section2-background {
        min-width: 50%; 
        min-height: 25%; 
        top: 30%;
        right: 10.5%; 
    }

}

@media (max-width: 1300px) {
    
    #section2-happymeter-svg{
        left: 7%; 
    }
    
    #section2-wordle-svg{
        left:6% ;
    }
    
    #section2-hangman-svg{

        left: 7%; 

    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 29%;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        min-width:80%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 15.5%; }
    #section2-WSP { top: 44.5%; }
    #section2-HMG { top: 71.5%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 29%;

    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 20.5%; }
    #section2-WSP-content { top: 49.5%; }
    #section2-HMG-content { top: 76.5%; }


    #section2-background {
        min-width: 50%; 
        min-height: 25%; 
        top: 30%;
        right: 20.5%; 
    }
}

@media (max-width: 1200px) {
    
    #section2-happymeter-svg{
        left: 7%; 
    }
    
    #section2-wordle-svg{
        left:6% ;
    }
    
    #section2-hangman-svg{

        left: 7%; 

    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 29%;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 15.5%; }
    #section2-WSP { top: 44.5%; }
    #section2-HMG { top: 71.5%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 29%;
        max-width: 50%;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 20.5%; }
    #section2-WSP-content { top: 49.5%; }
    #section2-HMG-content { top: 76.5%; }

    #section2-background {
        min-width: 40%; 
        min-height: 30%; 
        top: 25%;
        right: 26.5%; 
    }
}

@media (max-width: 1100px) {
    
    #section2-happymeter-svg{
        left: 11%; 
        width: 11%
    }
    
    #section2-wordle-svg{
        left:8% ;
        width: 16%;
    }
    
    #section2-hangman-svg{
        left: 11%; 
        width: 11%;
        bottom: 12%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 29%;
        font-size: 13px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 15.5%; }
    #section2-WSP { top: 44.5%; }
    #section2-HMG { top: 71.5%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 29%;
        max-width: 40%;
        font-size: 15px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 20.5%; }
    #section2-WSP-content { top: 49.5%; }
    #section2-HMG-content { top: 76.5%; }

    #section2-background {
        min-width: 40%; 
        min-height: 50%; 
        top: 20%;
        right: 35.5%; 
    }
}

@media (max-width: 1000px) {
    
    #section2-happymeter-svg{
        left: 11%; 
        width: 11%;
        top: 20%;
    }
    
    #section2-wordle-svg{
        left:8% ;
        width: 16%;
        top: 45%;
    }
    
    #section2-hangman-svg{
        left: 11%; 
        width: 11%;
        top: 76%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 29%;
        font-size: 13px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 19.5%; }
    #section2-WSP { top: 46%; }
    #section2-HMG { top: 74%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 29%;
        max-width: 30%;
        font-size: 15px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 22.5%; }
    #section2-WSP-content { top: 49%; }
    #section2-HMG-content { top: 77%; }

    #section2-background {
        min-width: 35%; 
        min-height: 45%; 
        top: 25%;
        right: 40.5%; 
    }
}

@media (max-width: 900px) {
    
    #section2-happymeter-svg{
        left: 11%; 
        width: 11%;
        top: 20%;
    }
    
    #section2-wordle-svg{
        left:8% ;
        width: 16%;
        top: 45%;
    }
    
    #section2-hangman-svg{
        left: 11%; 
        width: 11%;
        top: 76%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 29%;
        font-size: 12px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 19.5%; }
    #section2-WSP { top: 46%; }
    #section2-HMG { top: 74%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 29%;
        max-width: 20%;
        font-size: 14px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 22.5%; }
    #section2-WSP-content { top: 49%; }
    #section2-HMG-content { top: 77%; }

    #section2-background {
        min-width: 23%; 
        min-height: 50%; 
        top: 21%;
        right: 47.5%; 
    }
}

@media (max-width: 800px) {
    
    #section2-happymeter-svg{
        left: 8%; 
        width: 11%;
        top: 20%;
    }
    
    #section2-wordle-svg{
        left:5% ;
        width: 16%;
        top: 45%;
    }
    
    #section2-hangman-svg{
        left: 8%; 
        width: 11%;
        top: 76%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 23%;
        font-size: 11px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 19.5%; }
    #section2-WSP { top: 46%; }
    #section2-HMG { top: 74%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 23%;
        max-width: 20%;
        font-size: 14px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 22.5%; }
    #section2-WSP-content { top: 49%; }
    #section2-HMG-content { top: 77%; }


    #section2-background {
        min-width: 20%; 
        min-height: 50%; 
        top: 21%;
        right: 52.5%; 
    }
}

@media (max-width: 700px) {
    
    #section2-happymeter-svg{
        left: 5%; 
        width: 11%;
        top: 20%;
        z-index: 2;
    }
    
    #section2-wordle-svg{
        left:2% ;
        width: 16%;
        top: 45%;
        z-index: 2;
    }
    
    #section2-hangman-svg{
        left: 5%; 
        width: 11%;
        top: 76%;
        z-index: 2;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 20%;
        font-size: 11px;
        z-index: 2;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:38%; 
    }
    
    #section2-line-break2{
        top: 66.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 19.5%; }
    #section2-WSP { top: 46%; }
    #section2-HMG { top: 74%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 20%;
        max-width: 20%;
        font-size: 14px;
        z-index: 2;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 22.5%; }
    #section2-WSP-content { top: 49%; }
    #section2-HMG-content { top: 77%; }

    #section2-background {
        min-width: 20%; 
        min-height: 55%; 
        top: 21%;
        right: 60%; 
        z-index: 0.5;
    }
}

@media (max-width: 600px) {
    
    #section2-happymeter-svg{
        left: 14%; 
        width: 11%;
        top: 15%;
    }
    
    #section2-wordle-svg{
        left:11% ;
        width: 16%;
        top: 40%;
    }
    
    #section2-hangman-svg{
        left: 14%; 
        width: 11%;
        top: 71%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 6%;
        font-size: 9px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:40%; 
    }
    
    #section2-line-break2{
        top: 68.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 27.5%; }
    #section2-WSP { top: 54%; }
    #section2-HMG { top: 84%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 6%;
        min-width: 30%;
        font-size: 14px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 30.5%; }
    #section2-WSP-content { top: 57%; }
    #section2-HMG-content { top: 87%; }

    #section2-background {
        min-width: 20%; 
        min-height: 55%; 
        top: 21%;
        right: 53%; 
        z-index: 0.5;
    }
}

@media (max-width: 550px) {
    
    #section2-happymeter-svg{
        left: 11%; 
        width: 11%;
        top: 15%;
    }
    
    #section2-wordle-svg{
        left:8% ;
        width: 16%;
        top: 40%;
    }
    
    #section2-hangman-svg{
        left: 11%; 
        width: 11%;
        top: 71%;
    }
    #section2-CHP, #section2-WSP, #section2-HMG {
        left: 3%;
        font-size: 9px;
    }
    
    #section2-line-break1, #section2-line-break2{
        right:7%; 
        max-width:60%; 
    }
    
    #section2-line-break1{
        top:40%; 
    }
    
    #section2-line-break2{
        top: 68.5%
    }
    /* Individual top positions */
    #section2-CHP { top: 27.5%; }
    #section2-WSP { top: 54%; }
    #section2-HMG { top: 84%; }
    
    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        left: 3%;
        min-width: 30%;
        font-size: 14px;
    }
    
    /* Individual top positions */
    #section2-CHP-content { top: 30.5%; }
    #section2-WSP-content { top: 57%; }
    #section2-HMG-content { top: 87%; }

    #section2-background {
        min-width: 20%; 
        min-height: 55%; 
        top: 21%;
        right: 56%; 
        z-index: 0.5;
    }
}








@media (max-width: 480px) {
    #section2-python{
        left: -10px;
    }

    #section2-happymeter-svg, #section2-hangman-svg{
        width: 12%;
        left: 30px;
    }

    #section2-wordle-svg{
        width: 17%;
        left: 0px;
    }

    #section2-line-break1 {top: 30%;}
    #section2-line-break2 {top: 60%;}

    #section2-happymeter-svg {top: 15%; left: 6.5%;}
    #section2-wordle-svg {top: 40%; left: 4%;}
    #section2-hangman-svg {top: 70%; left: 7%;}

    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        min-width: 21%;
        font-size: 13px;
        left: 30px;
    }

    #section2-CHP-content {top:30%}
    #section2-CHP {top: 27%; font-size: 10px;}

    #section2-WSP {top: 54%; font-size:12px}
    #section2-WSP-content {top: 57%;}

    #section2-HMG {top: 83%; font-size:12px}
    #section2-HMG-content {top: 86%}

    #section2-line-break1, #section2-line-break2{
        display: none;
    }

    #section2-line-break1-mobile {top: 41%}
    #section2-line-break2-mobile {top: 68%}

    #section2-line-break1-mobile, #section2-line-break2-mobile{
        display: block;
        min-width: 21%;
    }

    #section2-CHP, #section2-WSP, #section2-HMG{
        width: 50%;
        font-weight: 200;
        left: 30px;
    }

    body{
        overflow: hidden;
    }

    #section2-background {
        min-width: 20%; 
        min-height: 55%; 
        top: 21%;
        right: 60%; 
        z-index: 0.5;
    }
}

@media (max-width: 479px) {
    #section2-python{
        left: -10px;
    }

    #section2-happymeter-svg, #section2-hangman-svg{
        width: 9%;
        left: 30px;
    }

    #section2-wordle-svg{
        width: 14%;
        left: 0px;
    }

    #section2-line-break1 {top: 30%;}
    #section2-line-break2 {top: 60%;}

    #section2-happymeter-svg {top: 15%; left: 6.5%;}
    #section2-wordle-svg {top: 40%; left: 4%;}
    #section2-hangman-svg {top: 70%; left: 7%;}

    #section2-CHP-content, #section2-WSP-content, #section2-HMG-content {
        min-width: 21%;
        font-size: 11px;
        left: 30px;
    }

    #section2-CHP-content {top:30%}
    #section2-CHP {top: 27%; font-size: 9px;}

    #section2-WSP {top: 54%; font-size:11px}
    #section2-WSP-content {top: 57%;}

    #section2-HMG {top: 83%; font-size:11px}
    #section2-HMG-content {top: 86%}

    #section2-line-break1, #section2-line-break2{
        display: none;
    }

    #section2-line-break1-mobile {top: 41%}
    #section2-line-break2-mobile {top: 68%}

    #section2-line-break1-mobile, #section2-line-break2-mobile{
        display: block;
        min-width: 21%;
    }

    #section2-CHP, #section2-WSP, #section2-HMG{
        width: 50%;
        font-weight: 200;
        left: 30px;
    }

    body{
        overflow: hidden;
    }

    #section2-background {
        min-width: 20%; 
        min-height: 55%; 
        top: 21%;
        right: 60%; 
        z-index: 0.5;
    }
}