#frank-ruhl-libre-regular-iam{
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:rgb(0, 21, 67);
    top: 14%; 
    left: 3.2%; 
    font-size: 80px;
    font-weight: 400; 
    position: absolute; 
    display: inline-flex; z-index: 2;
}

.about-me-back-filler{
    display: none;
}


.about-me-content1{
    top: 38%; z-index: 2
}

.about-me-content2{
    top: 58%; z-index: 2
}

@media (max-width: 480px) {
    #typewriter {
        font-size: 45px;
        max-width: 20%;
        left: 30px;
        top: 19%;
    }

    .inner_container{
        background-color: rgb(121, 75, 140);
    }

    .about-me-content1{
        font-size: 13px;
        left: 30px;
        width: 20%;
        top: 38%;
    }
    
    .about-me-content2{
        font-size: 13px;
        left: 30px;
        width: 20%;
        top: 60%;
    }

    #frank-ruhl-libre-regular-iam{
        font-size: 45px;
        left: 30px;
    }
    
    .about-me-back-filler{
        display: block;
        background-color: rgba(147, 175, 203, 0.395);
        min-width: 35vh; min-height: 27vh;
        top: 20%; left: 30px;
        position: absolute;
        z-index : 1;
    }
}