.linkedin-icon2 {
  left: 88%;
}
.instagram-icon2 {
  left: 91%;
}
.mail-icon2 {
  left: 94%;
}
.resume-icon2 {
  left: 97%;
}

@media (min-width: 1440px) {
  #section3 {
    min-width: 100%;
  }
}

@media (max-width: 1430px) {
  .linkedin-icon2 {
    left: 87%;
  }
  .instagram-icon2 {
    left: 90%;
  }
  .mail-icon2 {
    left: 93%;
  }
  .resume-icon2 {
    left: 96%;
  }
}
@media (max-width: 1420px) {
  .linkedin-icon2 {
    left: 86.2857142857%;
  }
  .instagram-icon2 {
    left: 89.2857142857%;
  }
  .mail-icon2 {
    left: 92.2857142857%;
  }
  .resume-icon2 {
    left: 95.2857142857%;
  }
}
@media (max-width: 1410px) {
  .linkedin-icon2 {
    left: 85.5714285714%;
  }
  .instagram-icon2 {
    left: 88.5714285714%;
  }
  .mail-icon2 {
    left: 91.5714285714%;
  }
  .resume-icon2 {
    left: 94.5714285714%;
  }
}
@media (max-width: 1400px) {
  .linkedin-icon2 {
    left: 84.8571428571%;
  }
  .instagram-icon2 {
    left: 87.8571428571%;
  }
  .mail-icon2 {
    left: 90.8571428571%;
  }
  .resume-icon2 {
    left: 93.8571428571%;
  }
}
@media (max-width: 1390px) {
  .linkedin-icon2 {
    left: 84.1428571429%;
  }
  .instagram-icon2 {
    left: 87.1428571429%;
  }
  .mail-icon2 {
    left: 90.1428571429%;
  }
  .resume-icon2 {
    left: 93.1428571429%;
  }
}
@media (max-width: 1380px) {
  .linkedin-icon2 {
    left: 83.4285714286%;
  }
  .instagram-icon2 {
    left: 86.4285714286%;
  }
  .mail-icon2 {
    left: 89.4285714286%;
  }
  .resume-icon2 {
    left: 92.4285714286%;
  }
}
@media (max-width: 1370px) {
  .linkedin-icon2 {
    left: 82.7142857143%;
  }
  .instagram-icon2 {
    left: 85.7142857143%;
  }
  .mail-icon2 {
    left: 88.7142857143%;
  }
  .resume-icon2 {
    left: 91.7142857143%;
  }
}
@media (max-width: 1360px) {
  .linkedin-icon2 {
    left: 82%;
  }
  .instagram-icon2 {
    left: 85%;
  }
  .mail-icon2 {
    left: 88%;
  }
  .resume-icon2 {
    left: 91%;
  }
}
@media (max-width: 1350px) {
  .linkedin-icon2 {
    left: 81.2857142857%;
  }
  .instagram-icon2 {
    left: 84.2857142857%;
  }
  .mail-icon2 {
    left: 87.2857142857%;
  }
  .resume-icon2 {
    left: 90.2857142857%;
  }
}
@media (max-width: 1340px) {
  .linkedin-icon2 {
    left: 80.5714285714%;
  }
  .instagram-icon2 {
    left: 83.5714285714%;
  }
  .mail-icon2 {
    left: 86.5714285714%;
  }
  .resume-icon2 {
    left: 89.5714285714%;
  }
}
@media (max-width: 1330px) {
  .linkedin-icon2 {
    left: 79.8571428571%;
  }
  .instagram-icon2 {
    left: 82.8571428571%;
  }
  .mail-icon2 {
    left: 85.8571428571%;
  }
  .resume-icon2 {
    left: 88.8571428571%;
  }
}
@media (max-width: 1320px) {
  .linkedin-icon2 {
    left: 79.1428571429%;
  }
  .instagram-icon2 {
    left: 82.1428571429%;
  }
  .mail-icon2 {
    left: 85.1428571429%;
  }
  .resume-icon2 {
    left: 88.1428571429%;
  }
}
@media (max-width: 1310px) {
  .linkedin-icon2 {
    left: 78.4285714286%;
  }
  .instagram-icon2 {
    left: 81.4285714286%;
  }
  .mail-icon2 {
    left: 84.4285714286%;
  }
  .resume-icon2 {
    left: 87.4285714286%;
  }
}
@media (max-width: 1300px) {
  .linkedin-icon2 {
    left: 77.7142857143%;
  }
  .instagram-icon2 {
    left: 80.7142857143%;
  }
  .mail-icon2 {
    left: 83.7142857143%;
  }
  .resume-icon2 {
    left: 86.7142857143%;
  }
}
@media (max-width: 1290px) {
  .linkedin-icon2 {
    left: 77%;
  }
  .instagram-icon2 {
    left: 80%;
  }
  .mail-icon2 {
    left: 83%;
  }
  .resume-icon2 {
    left: 86%;
  }
}
@media (max-width: 1280px) {
  .linkedin-icon2 {
    left: 76.2857142857%;
  }
  .instagram-icon2 {
    left: 79.2857142857%;
  }
  .mail-icon2 {
    left: 82.2857142857%;
  }
  .resume-icon2 {
    left: 85.2857142857%;
  }
}
@media (max-width: 1270px) {
  .linkedin-icon2 {
    left: 75.5714285714%;
  }
  .instagram-icon2 {
    left: 78.5714285714%;
  }
  .mail-icon2 {
    left: 81.5714285714%;
  }
  .resume-icon2 {
    left: 84.5714285714%;
  }
}
@media (max-width: 1260px) {
  .linkedin-icon2 {
    left: 74.8571428571%;
  }
  .instagram-icon2 {
    left: 77.8571428571%;
  }
  .mail-icon2 {
    left: 80.8571428571%;
  }
  .resume-icon2 {
    left: 83.8571428571%;
  }
}
@media (max-width: 1250px) {
  .linkedin-icon2 {
    left: 74.1428571429%;
  }
  .instagram-icon2 {
    left: 77.1428571429%;
  }
  .mail-icon2 {
    left: 80.1428571429%;
  }
  .resume-icon2 {
    left: 83.1428571429%;
  }
}
@media (max-width: 1240px) {
  .linkedin-icon2 {
    left: 73.4285714286%;
  }
  .instagram-icon2 {
    left: 76.4285714286%;
  }
  .mail-icon2 {
    left: 79.4285714286%;
  }
  .resume-icon2 {
    left: 82.4285714286%;
  }
}
@media (max-width: 1230px) {
  .linkedin-icon2 {
    left: 72.7142857143%;
  }
  .instagram-icon2 {
    left: 75.7142857143%;
  }
  .mail-icon2 {
    left: 78.7142857143%;
  }
  .resume-icon2 {
    left: 81.7142857143%;
  }
}
@media (max-width: 1220px) {
  .linkedin-icon2 {
    left: 72%;
  }
  .instagram-icon2 {
    left: 75%;
  }
  .mail-icon2 {
    left: 78%;
  }
  .resume-icon2 {
    left: 81%;
  }
}
@media (max-width: 1210px) {
  .linkedin-icon2 {
    left: 71.2857142857%;
  }
  .instagram-icon2 {
    left: 74.2857142857%;
  }
  .mail-icon2 {
    left: 77.2857142857%;
  }
  .resume-icon2 {
    left: 80.2857142857%;
  }
}
@media (max-width: 1200px) {
  .linkedin-icon2 {
    left: 70.5714285714%;
  }
  .instagram-icon2 {
    left: 73.5714285714%;
  }
  .mail-icon2 {
    left: 76.5714285714%;
  }
  .resume-icon2 {
    left: 79.5714285714%;
  }
}
@media (max-width: 1190px) {
  .linkedin-icon2 {
    left: 69.8571428571%;
  }
  .instagram-icon2 {
    left: 72.8571428571%;
  }
  .mail-icon2 {
    left: 75.8571428571%;
  }
  .resume-icon2 {
    left: 78.8571428571%;
  }
}
@media (max-width: 1180px) {
  .linkedin-icon2 {
    left: 69.1428571429%;
  }
  .instagram-icon2 {
    left: 72.1428571429%;
  }
  .mail-icon2 {
    left: 75.1428571429%;
  }
  .resume-icon2 {
    left: 78.1428571429%;
  }
}
@media (max-width: 1170px) {
  .linkedin-icon2 {
    left: 68.4285714286%;
  }
  .instagram-icon2 {
    left: 71.4285714286%;
  }
  .mail-icon2 {
    left: 74.4285714286%;
  }
  .resume-icon2 {
    left: 77.4285714286%;
  }
}
@media (max-width: 1160px) {
  .linkedin-icon2 {
    left: 67.7142857143%;
  }
  .instagram-icon2 {
    left: 70.7142857143%;
  }
  .mail-icon2 {
    left: 73.7142857143%;
  }
  .resume-icon2 {
    left: 76.7142857143%;
  }
}
@media (max-width: 1150px) {
  .linkedin-icon2 {
    left: 67%;
  }
  .instagram-icon2 {
    left: 70%;
  }
  .mail-icon2 {
    left: 73%;
  }
  .resume-icon2 {
    left: 76%;
  }
}
@media (max-width: 1140px) {
  .linkedin-icon2 {
    left: 66.2857142857%;
  }
  .instagram-icon2 {
    left: 69.2857142857%;
  }
  .mail-icon2 {
    left: 72.2857142857%;
  }
  .resume-icon2 {
    left: 75.2857142857%;
  }
}
@media (max-width: 1130px) {
  .linkedin-icon2 {
    left: 65.5714285714%;
  }
  .instagram-icon2 {
    left: 68.5714285714%;
  }
  .mail-icon2 {
    left: 71.5714285714%;
  }
  .resume-icon2 {
    left: 74.5714285714%;
  }
}
@media (max-width: 1120px) {
  .linkedin-icon2 {
    left: 64.8571428571%;
  }
  .instagram-icon2 {
    left: 67.8571428571%;
  }
  .mail-icon2 {
    left: 70.8571428571%;
  }
  .resume-icon2 {
    left: 73.8571428571%;
  }
}
@media (max-width: 1110px) {
  .linkedin-icon2 {
    left: 64.1428571429%;
  }
  .instagram-icon2 {
    left: 67.1428571429%;
  }
  .mail-icon2 {
    left: 70.1428571429%;
  }
  .resume-icon2 {
    left: 73.1428571429%;
  }
}
@media (max-width: 1100px) {
  .linkedin-icon2 {
    left: 63.4285714286%;
  }
  .instagram-icon2 {
    left: 66.4285714286%;
  }
  .mail-icon2 {
    left: 69.4285714286%;
  }
  .resume-icon2 {
    left: 72.4285714286%;
  }
}
@media (max-width: 1090px) {
  .linkedin-icon2 {
    left: 62.7142857143%;
  }
  .instagram-icon2 {
    left: 65.7142857143%;
  }
  .mail-icon2 {
    left: 68.7142857143%;
  }
  .resume-icon2 {
    left: 71.7142857143%;
  }
}
@media (max-width: 1080px) {
  .linkedin-icon2 {
    left: 62%;
  }
  .instagram-icon2 {
    left: 65%;
  }
  .mail-icon2 {
    left: 68%;
  }
  .resume-icon2 {
    left: 71%;
  }
}
@media (max-width: 1070px) {
  .linkedin-icon2 {
    left: 61.2857142857%;
  }
  .instagram-icon2 {
    left: 64.2857142857%;
  }
  .mail-icon2 {
    left: 67.2857142857%;
  }
  .resume-icon2 {
    left: 70.2857142857%;
  }
}
@media (max-width: 1060px) {
  .linkedin-icon2 {
    left: 60.5714285714%;
  }
  .instagram-icon2 {
    left: 63.5714285714%;
  }
  .mail-icon2 {
    left: 66.5714285714%;
  }
  .resume-icon2 {
    left: 69.5714285714%;
  }
}
@media (max-width: 1050px) {
  .linkedin-icon2 {
    left: 59.8571428571%;
  }
  .instagram-icon2 {
    left: 62.8571428571%;
  }
  .mail-icon2 {
    left: 65.8571428571%;
  }
  .resume-icon2 {
    left: 68.8571428571%;
  }
}
@media (max-width: 1040px) {
  .linkedin-icon2 {
    left: 59.1428571429%;
  }
  .instagram-icon2 {
    left: 62.1428571429%;
  }
  .mail-icon2 {
    left: 65.1428571429%;
  }
  .resume-icon2 {
    left: 68.1428571429%;
  }
}
@media (max-width: 1030px) {
  .linkedin-icon2 {
    left: 58.4285714286%;
  }
  .instagram-icon2 {
    left: 61.4285714286%;
  }
  .mail-icon2 {
    left: 64.4285714286%;
  }
  .resume-icon2 {
    left: 67.4285714286%;
  }
}
@media (max-width: 1020px) {
  .linkedin-icon2 {
    left: 57.7142857143%;
  }
  .instagram-icon2 {
    left: 60.7142857143%;
  }
  .mail-icon2 {
    left: 63.7142857143%;
  }
  .resume-icon2 {
    left: 66.7142857143%;
  }
}
@media (max-width: 1010px) {
  .linkedin-icon2 {
    left: 57%;
  }
  .instagram-icon2 {
    left: 60%;
  }
  .mail-icon2 {
    left: 63%;
  }
  .resume-icon2 {
    left: 66%;
  }
}
@media (max-width: 1000px) {
  .linkedin-icon2 {
    left: 56.2857142857%;
  }
  .instagram-icon2 {
    left: 59.2857142857%;
  }
  .mail-icon2 {
    left: 62.2857142857%;
  }
  .resume-icon2 {
    left: 65.2857142857%;
  }
}
@media (max-width: 990px) {
  .linkedin-icon2 {
    left: 55.5714285714%;
  }
  .instagram-icon2 {
    left: 58.5714285714%;
  }
  .mail-icon2 {
    left: 61.5714285714%;
  }
  .resume-icon2 {
    left: 64.5714285714%;
  }
}
@media (max-width: 980px) {
  .linkedin-icon2 {
    left: 54.8571428571%;
  }
  .instagram-icon2 {
    left: 57.8571428571%;
  }
  .mail-icon2 {
    left: 60.8571428571%;
  }
  .resume-icon2 {
    left: 63.8571428571%;
  }
}
@media (max-width: 970px) {
  .linkedin-icon2 {
    left: 54.1428571429%;
  }
  .instagram-icon2 {
    left: 57.1428571429%;
  }
  .mail-icon2 {
    left: 60.1428571429%;
  }
  .resume-icon2 {
    left: 63.1428571429%;
  }
}
@media (max-width: 960px) {
  .linkedin-icon2 {
    left: 53.4285714286%;
  }
  .instagram-icon2 {
    left: 56.4285714286%;
  }
  .mail-icon2 {
    left: 59.4285714286%;
  }
  .resume-icon2 {
    left: 62.4285714286%;
  }
}
@media (max-width: 950px) {
  .linkedin-icon2 {
    left: 52.7142857143%;
  }
  .instagram-icon2 {
    left: 55.7142857143%;
  }
  .mail-icon2 {
    left: 58.7142857143%;
  }
  .resume-icon2 {
    left: 61.7142857143%;
  }
}
@media (max-width: 940px) {
  .linkedin-icon2 {
    left: 52%;
  }
  .instagram-icon2 {
    left: 55%;
  }
  .mail-icon2 {
    left: 58%;
  }
  .resume-icon2 {
    left: 61%;
  }
}
@media (max-width: 930px) {
  .linkedin-icon2 {
    left: 51.2857142857%;
  }
  .instagram-icon2 {
    left: 54.2857142857%;
  }
  .mail-icon2 {
    left: 57.2857142857%;
  }
  .resume-icon2 {
    left: 60.2857142857%;
  }
}
@media (max-width: 920px) {
  .linkedin-icon2 {
    left: 50.5714285714%;
  }
  .instagram-icon2 {
    left: 53.5714285714%;
  }
  .mail-icon2 {
    left: 56.5714285714%;
  }
  .resume-icon2 {
    left: 59.5714285714%;
  }
}
@media (max-width: 910px) {
  .linkedin-icon2 {
    left: 49.8571428571%;
  }
  .instagram-icon2 {
    left: 52.8571428571%;
  }
  .mail-icon2 {
    left: 55.8571428571%;
  }
  .resume-icon2 {
    left: 58.8571428571%;
  }
}
@media (max-width: 900px) {
  .linkedin-icon2 {
    left: 49.1428571429%;
  }
  .instagram-icon2 {
    left: 52.1428571429%;
  }
  .mail-icon2 {
    left: 55.1428571429%;
  }
  .resume-icon2 {
    left: 58.1428571429%;
  }
}
@media (max-width: 890px) {
  .linkedin-icon2 {
    left: 48.4285714286%;
  }
  .instagram-icon2 {
    left: 51.4285714286%;
  }
  .mail-icon2 {
    left: 54.4285714286%;
  }
  .resume-icon2 {
    left: 57.4285714286%;
  }
}
@media (max-width: 880px) {
  .linkedin-icon2 {
    left: 47.7142857143%;
  }
  .instagram-icon2 {
    left: 50.7142857143%;
  }
  .mail-icon2 {
    left: 53.7142857143%;
  }
  .resume-icon2 {
    left: 56.7142857143%;
  }
}
@media (max-width: 870px) {
  .linkedin-icon2 {
    left: 47%;
  }
  .instagram-icon2 {
    left: 50%;
  }
  .mail-icon2 {
    left: 53%;
  }
  .resume-icon2 {
    left: 56%;
  }
}
@media (max-width: 860px) {
  .linkedin-icon2 {
    left: 46.2857142857%;
  }
  .instagram-icon2 {
    left: 49.2857142857%;
  }
  .mail-icon2 {
    left: 52.2857142857%;
  }
  .resume-icon2 {
    left: 55.2857142857%;
  }
}
@media (max-width: 850px) {
  .linkedin-icon2 {
    left: 45.5714285714%;
  }
  .instagram-icon2 {
    left: 48.5714285714%;
  }
  .mail-icon2 {
    left: 51.5714285714%;
  }
  .resume-icon2 {
    left: 54.5714285714%;
  }
}
@media (max-width: 840px) {
  .linkedin-icon2 {
    left: 44.8571428571%;
  }
  .instagram-icon2 {
    left: 47.8571428571%;
  }
  .mail-icon2 {
    left: 50.8571428571%;
  }
  .resume-icon2 {
    left: 53.8571428571%;
  }
}
@media (max-width: 830px) {
  .linkedin-icon2 {
    left: 44.1428571429%;
  }
  .instagram-icon2 {
    left: 47.1428571429%;
  }
  .mail-icon2 {
    left: 50.1428571429%;
  }
  .resume-icon2 {
    left: 53.1428571429%;
  }
}
@media (max-width: 820px) {
  .linkedin-icon2 {
    left: 43.4285714286%;
  }
  .instagram-icon2 {
    left: 46.4285714286%;
  }
  .mail-icon2 {
    left: 49.4285714286%;
  }
  .resume-icon2 {
    left: 52.4285714286%;
  }
}
@media (max-width: 810px) {
  .linkedin-icon2 {
    left: 42.7142857143%;
  }
  .instagram-icon2 {
    left: 45.7142857143%;
  }
  .mail-icon2 {
    left: 48.7142857143%;
  }
  .resume-icon2 {
    left: 51.7142857143%;
  }
}
@media (max-width: 800px) {
  .linkedin-icon2 {
    left: 42%;
  }
  .instagram-icon2 {
    left: 45%;
  }
  .mail-icon2 {
    left: 48%;
  }
  .resume-icon2 {
    left: 51%;
  }
}
@media (max-width: 790px) {
  .linkedin-icon2 {
    left: 41.2857142857%;
  }
  .instagram-icon2 {
    left: 44.2857142857%;
  }
  .mail-icon2 {
    left: 47.2857142857%;
  }
  .resume-icon2 {
    left: 50.2857142857%;
  }
}
@media (max-width: 780px) {
  .linkedin-icon2 {
    left: 40.5714285714%;
  }
  .instagram-icon2 {
    left: 43.5714285714%;
  }
  .mail-icon2 {
    left: 46.5714285714%;
  }
  .resume-icon2 {
    left: 49.5714285714%;
  }
}
@media (max-width: 770px) {
  .linkedin-icon2 {
    left: 39.8571428571%;
  }
  .instagram-icon2 {
    left: 42.8571428571%;
  }
  .mail-icon2 {
    left: 45.8571428571%;
  }
  .resume-icon2 {
    left: 48.8571428571%;
  }
}
@media (max-width: 760px) {
  .linkedin-icon2 {
    left: 39.1428571429%;
  }
  .instagram-icon2 {
    left: 42.1428571429%;
  }
  .mail-icon2 {
    left: 45.1428571429%;
  }
  .resume-icon2 {
    left: 48.1428571429%;
  }
}
@media (max-width: 750px) {
  .linkedin-icon2 {
    left: 38.4285714286%;
  }
  .instagram-icon2 {
    left: 41.4285714286%;
  }
  .mail-icon2 {
    left: 44.4285714286%;
  }
  .resume-icon2 {
    left: 47.4285714286%;
  }
}
@media (max-width: 740px) {
  .linkedin-icon2 {
    left: 37.7142857143%;
  }
  .instagram-icon2 {
    left: 40.7142857143%;
  }
  .mail-icon2 {
    left: 43.7142857143%;
  }
  .resume-icon2 {
    left: 46.7142857143%;
  }
}
@media (max-width: 730px) {
  .linkedin-icon2 {
    left: 37%;
  }
  .instagram-icon2 {
    left: 40%;
  }
  .mail-icon2 {
    left: 43%;
  }
  .resume-icon2 {
    left: 46%;
  }
}
@media (max-width: 720px) {
  .linkedin-icon2 {
    left: 36.2857142857%;
  }
  .instagram-icon2 {
    left: 39.2857142857%;
  }
  .mail-icon2 {
    left: 42.2857142857%;
  }
  .resume-icon2 {
    left: 45.2857142857%;
  }
}
@media (max-width: 710px) {
  .linkedin-icon2 {
    left: 35.5714285714%;
  }
  .instagram-icon2 {
    left: 38.5714285714%;
  }
  .mail-icon2 {
    left: 41.5714285714%;
  }
  .resume-icon2 {
    left: 44.5714285714%;
  }
}
@media (max-width: 700px) {
  .linkedin-icon2 {
    left: 34.8571428571%;
  }
  .instagram-icon2 {
    left: 37.8571428571%;
  }
  .mail-icon2 {
    left: 40.8571428571%;
  }
  .resume-icon2 {
    left: 43.8571428571%;
  }
}
@media (max-width: 690px) {
  .linkedin-icon2 {
    left: 34.1428571429%;
  }
  .instagram-icon2 {
    left: 37.1428571429%;
  }
  .mail-icon2 {
    left: 40.1428571429%;
  }
  .resume-icon2 {
    left: 43.1428571429%;
  }
}
@media (max-width: 680px) {
  .linkedin-icon2 {
    left: 33.4285714286%;
  }
  .instagram-icon2 {
    left: 36.4285714286%;
  }
  .mail-icon2 {
    left: 39.4285714286%;
  }
  .resume-icon2 {
    left: 42.4285714286%;
  }
}
@media (max-width: 670px) {
  .linkedin-icon2 {
    left: 32.7142857143%;
  }
  .instagram-icon2 {
    left: 35.7142857143%;
  }
  .mail-icon2 {
    left: 38.7142857143%;
  }
  .resume-icon2 {
    left: 41.7142857143%;
  }
}
@media (max-width: 660px) {
  .linkedin-icon2 {
    left: 32%;
  }
  .instagram-icon2 {
    left: 35%;
  }
  .mail-icon2 {
    left: 38%;
  }
  .resume-icon2 {
    left: 41%;
  }
}
@media (max-width: 650px) {
  .linkedin-icon2 {
    left: 31.2857142857%;
  }
  .instagram-icon2 {
    left: 34.2857142857%;
  }
  .mail-icon2 {
    left: 37.2857142857%;
  }
  .resume-icon2 {
    left: 40.2857142857%;
  }
}
@media (max-width: 640px) {
  .linkedin-icon2 {
    left: 30.5714285714%;
  }
  .instagram-icon2 {
    left: 33.5714285714%;
  }
  .mail-icon2 {
    left: 36.5714285714%;
  }
  .resume-icon2 {
    left: 39.5714285714%;
  }
}
@media (max-width: 630px) {
  .linkedin-icon2 {
    left: 29.8571428571%;
  }
  .instagram-icon2 {
    left: 32.8571428571%;
  }
  .mail-icon2 {
    left: 35.8571428571%;
  }
  .resume-icon2 {
    left: 38.8571428571%;
  }
}
@media (max-width: 620px) {
  .linkedin-icon2 {
    left: 29.1428571429%;
  }
  .instagram-icon2 {
    left: 32.1428571429%;
  }
  .mail-icon2 {
    left: 35.1428571429%;
  }
  .resume-icon2 {
    left: 38.1428571429%;
  }
}
@media (max-width: 610px) {
  .linkedin-icon2 {
    left: 28.4285714286%;
  }
  .instagram-icon2 {
    left: 31.4285714286%;
  }
  .mail-icon2 {
    left: 34.4285714286%;
  }
  .resume-icon2 {
    left: 37.4285714286%;
  }
}
@media (max-width: 600px) {
  .linkedin-icon2 {
    left: 27.7142857143%;
  }
  .instagram-icon2 {
    left: 30.7142857143%;
  }
  .mail-icon2 {
    left: 33.7142857143%;
  }
  .resume-icon2 {
    left: 36.7142857143%;
  }
}
@media (max-width: 590px) {
  .linkedin-icon2 {
    left: 27%;
  }
  .instagram-icon2 {
    left: 30%;
  }
  .mail-icon2 {
    left: 33%;
  }
  .resume-icon2 {
    left: 36%;
  }
}
@media (max-width: 580px) {
  .linkedin-icon2 {
    left: 26.2857142857%;
  }
  .instagram-icon2 {
    left: 29.2857142857%;
  }
  .mail-icon2 {
    left: 32.2857142857%;
  }
  .resume-icon2 {
    left: 35.2857142857%;
  }
}
@media (max-width: 570px) {
  .linkedin-icon2 {
    left: 25.5714285714%;
  }
  .instagram-icon2 {
    left: 28.5714285714%;
  }
  .mail-icon2 {
    left: 31.5714285714%;
  }
  .resume-icon2 {
    left: 34.5714285714%;
  }
}
@media (max-width: 560px) {
  .linkedin-icon2 {
    left: 24.8571428571%;
  }
  .instagram-icon2 {
    left: 27.8571428571%;
  }
  .mail-icon2 {
    left: 30.8571428571%;
  }
  .resume-icon2 {
    left: 33.8571428571%;
  }
}
@media (max-width: 550px) {
  .linkedin-icon2 {
    left: 24.1428571429%;
  }
  .instagram-icon2 {
    left: 27.1428571429%;
  }
  .mail-icon2 {
    left: 30.1428571429%;
  }
  .resume-icon2 {
    left: 33.1428571429%;
  }
}
@media (max-width: 540px) {
  .linkedin-icon2 {
    left: 23.4285714286%;
  }
  .instagram-icon2 {
    left: 26.4285714286%;
  }
  .mail-icon2 {
    left: 29.4285714286%;
  }
  .resume-icon2 {
    left: 32.4285714286%;
  }
}
@media (max-width: 530px) {
  .linkedin-icon2 {
    left: 22.7142857143%;
  }
  .instagram-icon2 {
    left: 25.7142857143%;
  }
  .mail-icon2 {
    left: 28.7142857143%;
  }
  .resume-icon2 {
    left: 31.7142857143%;
  }
}
@media (max-width: 520px) {
  .linkedin-icon2 {
    left: 22%;
  }
  .instagram-icon2 {
    left: 25%;
  }
  .mail-icon2 {
    left: 28%;
  }
  .resume-icon2 {
    left: 31%;
  }
}
@media (max-width: 510px) {
  .linkedin-icon2 {
    left: 21.2857142857%;
  }
  .instagram-icon2 {
    left: 24.2857142857%;
  }
  .mail-icon2 {
    left: 27.2857142857%;
  }
  .resume-icon2 {
    left: 30.2857142857%;
  }
}
@media (max-width: 500px) {
  .linkedin-icon2 {
    left: 20.5714285714%;
  }
  .instagram-icon2 {
    left: 23.5714285714%;
  }
  .mail-icon2 {
    left: 26.5714285714%;
  }
  .resume-icon2 {
    left: 29.5714285714%;
  }
}
@media (max-width: 490px) {
  .linkedin-icon2 {
    left: 19.8571428571%;
  }
  .instagram-icon2 {
    left: 22.8571428571%;
  }
  .mail-icon2 {
    left: 25.8571428571%;
  }
  .resume-icon2 {
    left: 28.8571428571%;
  }
}
@media (max-width: 480px) {
  .linkedin-icon2 {
    left: 19.1428571429%;
  }
  .instagram-icon2 {
    left: 22.1428571429%;
  }
  .mail-icon2 {
    left: 25.1428571429%;
  }
  .resume-icon2 {
    left: 28.1428571429%;
  }
}
@media (max-width: 470px) {
  .linkedin-icon2 {
    left: 18.4285714286%;
  }
  .instagram-icon2 {
    left: 21.4285714286%;
  }
  .mail-icon2 {
    left: 24.4285714286%;
  }
  .resume-icon2 {
    left: 27.4285714286%;
  }
}
@media (max-width: 460px) {
  .linkedin-icon2 {
    left: 17.7142857143%;
  }
  .instagram-icon2 {
    left: 20.7142857143%;
  }
  .mail-icon2 {
    left: 23.7142857143%;
  }
  .resume-icon2 {
    left: 26.7142857143%;
  }
}
@media (max-width: 450px) {
  .linkedin-icon2 {
    left: 17%;
  }
  .instagram-icon2 {
    left: 20%;
  }
  .mail-icon2 {
    left: 23%;
  }
  .resume-icon2 {
    left: 26%;
  }
}
@media (max-width: 440px) {
  .linkedin-icon2 {
    left: 16.2857142857%;
  }
  .instagram-icon2 {
    left: 19.2857142857%;
  }
  .mail-icon2 {
    left: 22.2857142857%;
  }
  .resume-icon2 {
    left: 25.2857142857%;
  }
}
@media (max-width: 430px) {
  .linkedin-icon2 {
    left: 15.5714285714%;
  }
  .instagram-icon2 {
    left: 18.5714285714%;
  }
  .mail-icon2 {
    left: 21.5714285714%;
  }
  .resume-icon2 {
    left: 24.5714285714%;
  }
}
@media (max-width: 420px) {
  .linkedin-icon2 {
    left: 14.8571428571%;
  }
  .instagram-icon2 {
    left: 17.8571428571%;
  }
  .mail-icon2 {
    left: 20.8571428571%;
  }
  .resume-icon2 {
    left: 23.8571428571%;
  }
}
@media (max-width: 410px) {
  .linkedin-icon2 {
    left: 14.1428571429%;
  }
  .instagram-icon2 {
    left: 17.1428571429%;
  }
  .mail-icon2 {
    left: 20.1428571429%;
  }
  .resume-icon2 {
    left: 23.1428571429%;
  }
}
@media (max-width: 400px) {
  .linkedin-icon2 {
    left: 13.4285714286%;
  }
  .instagram-icon2 {
    left: 16.4285714286%;
  }
  .mail-icon2 {
    left: 19.4285714286%;
  }
  .resume-icon2 {
    left: 22.4285714286%;
  }
}/*# sourceMappingURL=mediaquery-contact.css.map */