@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {

    .inner_container {
        background-color: rgb(128, 170, 122); /* Apply the desired styles */
    }
}

@media (max-width: 1300px){
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }

    .portrait2 svg{
        width: 95vh;
        height: 95vh;
    }

    .portrait2{
        top: -5%;
        left: -10%;
        display: block;
        opacity: 1;
    }

    .name-is{
        width: 70%;
        font-size: 70px;
        top: 240px;
    }

    .hi-my{
        width: 50%;
        font-size: 70px;
        top: 165px;
    }

    .passionate{
        font-size: 24px;
    }
}

@media (max-width: 1200px){
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }

    .portrait2 svg{
        width: 90vh;
        height: 90vh;
    }

    .portrait2{
        top: -5%;
        left: -15%;
        display: block;
        opacity: 1;
    }

    .name-is{
        width: 70%;
        font-size: 70px;
        top: 260px;
    }

    .hi-my{
        width: 50%;
        font-size: 70px;
        top: 185px;
    }

    .passionate{
        font-size: 24px;
    }
}

@media (max-width: 1100px){
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }

    .portrait2 svg{
        width: 90vh;
        height: 90vh;
    }

    .portrait2{
        top: -5%;
        left: -20%;
        display: block;
        opacity: 1;
    }

    .name-is{
        width: 70%;
        font-size: 70px;
        top: 260px;
    }

    .hi-my{
        width: 50%;
        font-size: 70px;
        top: 185px;
    }

    .passionate{
        font-size: 24px;
    }
}

@media (max-width: 1000px){
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }

    .portrait2 svg{
        width: 75vh;
        height: 75vh;
    }

    .portrait2{
        top: 0%;
        left: -15%;
        display: block;
        opacity: 1;
    }

    .name-is{
        width: 70%;
        font-size: 60px;
        top: 260px;
    }

    .hi-my{
        width: 50%;
        font-size: 60px;
        top: 185px;
    }

    .passionate{
        font-size: 20px;
    }
}
@media (max-width: 800px) {
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth {
        display: none;
    }

    .portrait2 svg {
        width: 60vh;
        height: 60vh;
    }

    .portrait2 {
        top: 10%;
        left: -15%;
        display: block;
        opacity: 1;
    }

    .name-is {
        width: 70%;
        font-size: 50px;
        top: 245px;
    }

    .hi-my {
        width: 50%;
        font-size: 50px;
        top: 180px;
    }

    .passionate {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth {
        display: none;
    }

    .portrait2 svg {
        width: 50vh;
        height: 50vh;
    }

    .portrait2 {
        top: 15%;
        left: -13%;
        display: block;
        opacity: 1;
    }

    .name-is {
        width: 70%;
        font-size: 45px;
        top: 275px;
    }

    .hi-my {
        width: 50%;
        font-size: 45px;
        top: 220px;
    }

    .passionate {
        font-size: 16px;
    }
}

@media (max-width: 585px) {
    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth {
        display: none;
    }

    .portrait2 svg {
        width: 65vh;
        height: 65vh;
    }

    .portrait2 {
        top: 5%;
        left: -48%;
        display: block;
        opacity: 1;
    }

    .name-is {
        width: 70%;
        font-size: 35px;
        top: 560px;
    }

    .hi-my {
        width: 50%;
        font-size: 35px;
        top: 520px;
    }

    .passionate {
        font-size: 10px;
    }
    #animation-hard-up{
        top: 610px;
    }
    .scroll-down{
        left: 80%;
        bottom: 16%;
    }

    .please-scroll{
        font-size: 8px;
    }

    .please-scroll-line{
        max-width: 0.15%;
        bottom: 25%;
        left: 81%;
    }
}

@media (max-width: 540px) {
    .portrait2 {
        top: 5%;
        left: -54%;
        display: block;
        opacity: 1;
    }

}



/* --------- */

@keyframes pop{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    60%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes fadeUp2{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fadeDown2{
    from{
        opacity:0;
        transform:translateY(-40px);
    }
    
    to{
        opacity:1;
        transform:translateY(0);
    }
}

@media (max-width: 480px) {

    .portrait, #left-eye, #right-eye, #left-eyebrow, #right-eyebrow, #face2, #face, #mouth{
        display: none;
    }
    .portrait2 svg{
        width: 45vh;
        height: 45vh;
    }

    .portrait2{
        top: 7%;
        left: -52%;
        display: block;
        animation: fadeIn 1s ease-out forwards, pop 1s ease-out forwards;
        animation-delay: 2.5s;
        opacity: 0;
    }

    .name-is{
        display: none;
    }

    .hi-my{
        display: none;
    }

    .name-is2{
        font-size: 45px;
    }

    .hi-my2{
        font-size: 45px;
    }

    #hi-my-fade{
        animation: fadeDown2 1s ease-out forwards;
        top: 400px;
        left: 30px;
        font-family: "Frank Ruhl Libre", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        color:rgb(0, 21, 67);
        position: absolute;
        animation-delay: 0.5s;
    }

    #name-is-fade{
        animation: fadeUp2 1s ease-out forwards;
        top:450px;
        left: 30px;
        font-family: "Frank Ruhl Libre", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        color:rgb(0, 21, 67);
        position: absolute;
        animation-delay: 0.8s;
    }

    .passionate{
        font-size: 13px;
    }

    #animation-hard-up{
        top: 520px;
        width: 40%;
        left: 30px;
    }

    #intro-page::before {
        width: 80vw; /* Adjust the width to make it shorter */
        height: 40vh; /* You can also adjust the height accordingly */
        top: 11.5%;
        left: 10vw; /* Adjust the positioning if needed */
    }

    .scroll-down{
        left: 80%;
        bottom: 16%;
    }

    .please-scroll{
        font-size: 8px;
    }

    .please-scroll-line{
        max-width: 0.15%;
        bottom: 25%;
        left: 81%;
    }

    .intro-menu{
        left: -3.5%
    }

    #menu-break{
        left: -5%
    }

    #myBtn{
        left: -3%;
    }
}

#menu-break{
    height: 30px;
    position:fixed;
    top: 65px; left: 130px;
    z-index: 3
}

.intro-menu{
    cursor: pointer;
    top:67px; 
    left:155px; 
    position:fixed; 
    font-weight: 400; 
    display: inline-block; 
    z-index:3;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

